include var
head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="renderer",content="webkit")
    //- meta(name="viewport",content="width=640, user-scalable=no, target-densitydpi=device-dpi")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent" )
    meta(name="apple-touch-fullscreen",content="yes")
    meta(name="apple-mobile-web-app-capable",content="yes" )
    //uc强制竖屏
    meta(name="screen-orientation",content="portrait")
    //QQ强制竖屏
    meta(name="x5-orientation",content="portrait")
    meta(content="True",name="HandheldFriendly")
    meta(name="format-detection",content="telphone=no, email=no")
    link(rel="stylesheet",type="text/css",href="style/main.css")
    - if(type != "pc")
        link(rel="stylesheet",media="(max-width:800px)",href="style/small_main.css")
    //- <link rel="stylesheet" media="(max-width:800px)" href="style/small_main.css"/>
    title= title